python-telegram-bot
flask
requests
langchain-ollama
langchain
langchain-core
langgraph
mcp
aiohttp
python-dotenv
openai
groq
Pillow
opencv-python
numpy
transformers
torch
torchvision
sentence-transformers
sentencepiece
protobuf
typing-extensions
pydantic
mcp
faiss-cpu
h5py
tqdm
psutil
python-dateutil
hydra-core
omegaconf