python-telegram-bot
ollama
flask
requests
sentence-transformers
aiohttp
python-dotenv
langgraph
langchain
langchain-core
typing-extensions
pydantic
Pillow
opencv-python
numpy
transformers
torch
httpx
torchvision
faiss-cpu
h5py
tqdm
psutil
python-dateutil
hydra-core>=1.3.2
omegaconf>=2.3.0
jupyter
ipython